@{
    ViewData["Title"] = "Cadastro Empresa";
}





<main id="bg-cad-empresa">
    <div id="container-empresa" class="container d-flex justify-content-center align-items-center">
        <div id="form-container" class="row">
            <div id="cad-img-empresa" class="col-md-6"></div>
            <div id="border-empresa" class="col d-flex flex-column justify-content-center">
                <form>
                    <h1>Cadastre-se</h1><label>Nome da Empresa</label>
                    <input class="form-control" type="text" />
                    <label class="d-block">Quantidade de Funcionarios</label>
                    <input class="form-control" type="number" />
                    <label>E-mail da Empresa</label><input class="form-control" type="email" />
                    <label>CNPJ</label>
                    <input class="form-control" type="text" />
                    <label>Área de atuação</label>
                    <select class="form-control">
                        <optgroup label="Escolha sua área">
                            <option value="12" selected> </option>
                            <option value="12">Técnologia</option>
                            <option value="13">Médicina</option>
                            <option value="14">Engenharia</option>
                            <option value="14">Recursos humanos</option>
                            <option value="14">Vendas</option>
                            <option value="14">Logistica</option>
                        </optgroup>
                    </select><label class="d-block">Qual modelo de trabalho oferece?</label>
                    <label><input type="radio" /> Presencial </label>
                    <label><input type="radio" /> Remoto </label>
                    <label><input type="radio" /> Hibrido </label>
                    <label><input type="radio" /> Outros</label>
                </form>
                <div id="btn-form" class="d-flex">
                    <a id="button-empresa" class="btn px-4 py-2 mr-3 font-weight-light" >Resetar</a>
                    <a id="btn-empresa" class="btn px-4 py-2 font-weight-light" asp-controller="Home" asp-action="MatchEmpresa">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
</main>
