@{
    ViewData["Title"] = "Home Page";
}

<main class="d-flex">
    <aside id="match-aside">
        <h1 style="font-size: 26px;text-align: left;margin-left: 15px;padding-top: 50PX;">Filtros</h1><label class="d-block" style="margin-left: 15px;color: #888888;">Cargo desejado</label><input type="text" style="margin-left: 15px;width: 220px;"><label class="d-block" style="margin-left: 15px;color: #888888;">Modelo de trabalho</label>
        <div class="form-check" style="margin-left: 15px;"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Presencial</label></div>
        <div class="form-check" style="margin-left: 15px;"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Remoto</label></div>
        <div class="form-check" style="margin-left: 15px;"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3">Hibrido</label></div><label class="d-block" style="margin-left: 15px;color: #888888;">Distância</label><input type="range" style="margin-left: 15px;background: var(--blue);width: 220px;"><label class="d-block" style="margin-left: 15px;color: #888888;">Faixa salarial</label>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 15px;width: 220px;">Selecione</button>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </div><label class="d-block" style="margin-left: 15px;color: #888888;">Tipo de deficiência</label>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 15px;width: 220px;">Selecione</button>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </div><label class="d-block" style="margin-left: 15px;color: #888888;">Tipo de Tipo de contrato</label>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-left: 15px;width: 220px;">Selecione</button>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </div>
    </aside>

    <div class="container">
        <div class="row">
            <div id="empresa-img" class="col-md-12" ></div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background: var(--white);border-bottom-right-radius: 30px;border-bottom-left-radius: 30px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                <h1 style="padding: 0px;padding-top: 25px;">Itaú</h1>
                <p>Desenvolvedor full-stack jr</p>
                <p style="font-weight: bold;">Sobre a vaga:</p>
                <p>Desenvolver códigos elegantes, estáveis, <br>confiáveis e, não menos importante, fáceis de manter. Queremos código <br>limpo e que funcione bem, Desenvolver códigos e soluções sempre pensando<br> em eficiência, escalabilidade e estabilidade.<br></p>
            </div>
        </div>
    </div>
</main>
